{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
    <!-- 1 charset/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 2 title -->
    <title>
      {%- if seo.title -%}
        {{ seo.title }}
      {%- elif title -%}
        {{ title }} ({{ date | formatDate('YYYY') }}) by {{ meta.author.name }}
      {%- else -%}
        {{ siteName }}
      {%- endif -%}
    </title>

    <base href="{{ page.url }}" />

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WV2GQTH');</script>
<!-- End Google Tag Manager -->

    <!-- 3 synchronous js  -->
    {% include "head/js-inline.njk" %}

    <!-- 4 schema settings -->
    {% include "head/schema.njk" %}

    <!-- 5 CSS  -->
    <!-- <link rel="stylesheet" href="/assets/css/global.css?{{ assetHash }}" /> -->
    {% include "head/css-inline.njk" %}

    <!-- 6 preloads  -->
    {% include "head/preloads.njk" %}

    <!-- 7 defer  -->
    {% include "head/js-defer.njk" %}

    <!-- 8 meta tags, icons, open graph etc.  -->
    {% include "head/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WV2GQTH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {% include "partials/header.njk" %}

    <main id="main" class="flow">{{ content | safe }}</main>

    {% include "partials/footer.njk" %}
    {%- if meta.easteregg -%}
      <script type="module" src="/assets/scripts/components/custom-easteregg.js"></script>
      <custom-easteregg></custom-easteregg>
    {%- endif -%}
  </body>
</html>
