---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}</h1>
    </div>
  </div>
  {% include 'svg/waves.svg' %}
</header>

<article class="region" style="--region-space-top: var(--space-s)">
  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    <li class="card flow overflow-hidden">
      <h4>Get Fudge Sunday each week</h4>
      <form action="https://buttondown.email/api/emails/embed-subscribe/jaycuthrell" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.fudge.org', 'popupwindow')" class="embeddable-buttondown-form">
      <p><label for="bd-email">Enter your email</label></p>
      <input type="email" name="email" id="bd-email" />
      <input type="submit" value="Subscribe" />
      <input type="hidden" name="tag" value="11ty" />
      </form>
    </li>
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 1) %}

    <li class="card flow overflow-hidden">
      <h3>Latest issue</h3>
      <h4>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h4>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <h5>{{ post.data.description }}</h5>
    </li>

    {% endfor %}
    <li class="card flow overflow-hidden">
      <h3>Latest music</h3>
      <p>
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1561453507&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/jaycuthrell" title="Jay Cuthrell aka qthrul aka fudge" target="_blank" style="color: #cccccc; text-decoration: none;">Jay Cuthrell aka qthrul aka fudge</a> · <a href="https://soundcloud.com/jaycuthrell/sets/newest-noodles-2023" title="Newest Noodles 2023" target="_blank" style="color: #cccccc; text-decoration: none;">Newest Noodles 2023</a></div>
      </p>
    </li>
</ul>
</article>

