---
layout: base
---

<header class="section spot-color-primary">
  <div class="section__inner">
    <div class="wrapper flow region">
      <h1 class="text-center">{{ title }}
        🤔 💡 🤯 🤓
      </h1>
    </div>
  </div>
</header>
<article class="region" style="--region-space-top: var(--space-s)">
<ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    <li class="card flow overflow-hidden">
      <h4>Subscribe to Fudge Factor 🤔 💡 🤯 🤓</h4>
      <form action="https://buttondown.email/api/emails/embed-subscribe/jaycuthrell" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.fudge.org', 'popupwindow')" class="embeddable-buttondown-form">
      <p><label for="bd-email">Enter your email</label></p>
      <input type="email" name="email" id="bd-email" />
      <input type="submit" value="Subscribe" />
      <input type="hidden" name="tag" value="11ty" />
      </form>
    </li>
    
    {% set postslist = collections.posts %} {% for post in postslist.slice(0, 1) %}

    <li class="card flow overflow-hidden">
      <h2>Latest issue</h2>
      <h4>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h4>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <h5>{{ post.data.description }}</h5>
    </li>
    {% endfor %}
    
    {% set postslist = collections.posts %} {% for post in postslist.slice(1, 4) %}

    <li class="card flow overflow-hidden">
      <h4>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h4>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <h5>{{ post.data.description }}</h5>
    </li>
    {% endfor %}
    
    <li class="card flow overflow-hidden">
      <h2><a href="/archive">Browse the Archives</a></h2>
      <h4>1998 to Present</h4>
      <h5>🤔 💡 🤯 🤓</h5>
    </li>

  </ul>
</article>

