---
layout: base
schema: archive
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    
    {% set definedDate = date %} {% include "partials/date.njk" %} by <a href="/about/">{{ meta.author }}</a>

  <h6>
   Share and discuss on 
   <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ meta.url }}{{ page.url }}">LinkedIn</a> or 
   <a href="https://news.ycombinator.com/submitlink?u={{ meta.url }}{{ page.url }}&t={{ title }} ({{ date | formatDate('YYYY') }})">HN</a>
  </h6>

    {{ content | safe }}


  <p>
    Topics:       
    <!-- include tags -->
    {% include "partials/post-tags.njk" %}
  </p>
  <p align="right">  
  ✍️ 🤓 {% gh_edit page %} 🐙 ✍️
  </p>

  <h6>
   Share and discuss on 
   <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ meta.url }}{{ page.url }}">LinkedIn</a> or 
   <a href="https://news.ycombinator.com/submitlink?u={{ meta.url }}{{ page.url }}&t={{ title }} ({{ date | formatDate('YYYY') }})">HN</a>
  </h6>

  <ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    <li class="card flow overflow-hidden">
      <h4>Get Fudge Sunday each week</h4>
      <form action="https://buttondown.email/api/emails/embed-subscribe/jaycuthrell" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.fudge.org', 'popupwindow')" class="embeddable-buttondown-form">
      <p><label for="bd-email">Enter your email</label></p>
      <input type="email" name="email" id="bd-email" />
      <input type="submit" value="Subscribe" />
      <input type="hidden" name="tag" value="11ty" />
      </form>
    </li>
  </ul>
  </div>
</article>
