---
layout: base
schema: archive
preloads:
  href: '/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2'
  as: 'font'
  type: 'font/woff2'
  crossorigin: true
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    
    {% set definedDate = date %} {% include "partials/date.njk" %} by <a href="/about/">{{ meta.author }}</a>
    <p>
    Tags:       
      {% for tag in tags %}
        {% if tag != "posts" and tag != "newsletter" %}
          <a href="/tags/{{ tag }}">{{ tag }}</a>
        {% endif %}
      {% endfor %}
    </p>
    {{ content | safe }}

  <p align="right">  
  ✍️ 🤓 {% gh_edit page %} 🐙 ✍️
  </p>

  </div>
</article>
