---
layout: base
schema: blog
---
{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<article class="region blog" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h6>
      {% if nextPost %}<a href="{{ nextPost.url }}"> ⬅️ {{ nextPost.data.title }}</a>{% endif %} 
      {% if previousPost %} <a href="">🧭</a> <a href="{{ previousPost.url }}">{{ previousPost.data.title }} ➡️ </a>{% endif %}
    </h6>
    <h1 class="gradient-text">{{ title }}</h1>

    {% if image %}
      <!-- image -->
      {% image image, alt or title, credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster" style="--gutter: var(--space-xs-s)">
      
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %} 
       by <a href="/about/">{{ meta.author.name }}</a>
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button post-tag" href="/topics/{{ tag }}"> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {{ content | safe }}
    {% include 'partials/edit-on.njk' %}

    <h6>
      {% if nextPost %}<a href="{{ nextPost.url }}"> ⬅️ {{ nextPost.data.title }}</a>{% endif %} 
      {% if previousPost %} <a href="">🧭</a> <a href="{{ previousPost.url }}">{{ previousPost.data.title }} ➡️ </a>{% endif %}
    </h6>
    <h6>
      Share and discuss on 
      <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ meta.url }}{{ page.url }}">LinkedIn</a> or 
      <a href="https://news.ycombinator.com/submitlink?u={{ meta.url }}{{ page.url }}&t={{ title }} ({{ date | formatDate('YYYY') }})">HN</a>
    </h6>
    
  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
</article>

{%- css "inline" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
