---
layout: base
---

<header class="section spot-color-secondary">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in">{{ title }}</h1>
      </section>
    </div>
  </div>
</header>

<article class="region page">
  <div class="wrapper flow prose">
    {{ content | safe }}
      {% set orderedCollection = collections | sortObjectByKey %}
      {% for tag, posts in orderedCollection %}
        {% if tag != "newsletter" and tag != "null" and tag != "postsbyyear" and tag != "postsByYear" and tag != "all" and tag != "posts" %}
            <a href="/topics/{{tag | slugify}}/">{{ tag }}</a>
        {% endif %}
      {% endfor %}

  </div>
</article>