---
layout: base
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-primary)">
    <div class="section__inner flow region">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>
  </header>
</div>
<article class="region">
  <div class="wrapper flow">
  
    {{ content | safe }}
  </div>
</article>
