---
layout: base
---

<article class="region page">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    
    {{ content | safe }}

      {% set orderedCollection = collections | sortObjectByKey %}
      {% for tag, posts in orderedCollection %}
        {% if tag != "newsletter" and tag != "null" and tag != "postsbyyear" and tag != "postsByYear" and tag != "all" and tag != "posts" %}

            <a href="/topics/{{tag | slugify}}/">{{ tag }}</a>


        {% endif %}
      {% endfor %}

  </div>
</article>