---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /topics/{{ tag }}/
eleventyComputed:
  title: '{{ tag }}'
---
<header class="section spot-color-light">
  <div class="section__inner region">
    <div class="wrapper flow">
      <section class="prose text-center">
        <h1 class="fade-in" style="color: var(--color-dark)">
          Topic: <span class="gradient-text">"{{ title }}"</span>
        </h1>
      </section>
    </div>
  </div>
</header>
<article class="region page">
  <div class="wrapper flow prose">
<ul class="wrapper grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    <li>
To learn more about <a href="/sponsorship/">sponsorship</a> opportunities, <a href="mailto:newsletter@fudge.org?SUBJECT=Sponsorship+of+Fudge+Sunday+Newsletter">contact us</a>.
    </li>
</ul>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4341041390314512"
     crossorigin="anonymous"></script>
<!-- topics -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4341041390314512"
     data-ad-slot="3553151754"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</article>

<article class="wrapper">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set taglist = collections[tag] | reverse %} {% for post in taglist %}

    <li class="card flow overflow-hidden">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      {% set definedDate = post.date %} {% include "partials/date.njk" %}
      <p>{{ post.data.description }}</p>
    </li>

    {% endfor %}
  </ul>
</article>