---
layout: tags
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /topics/{{ tag }}/index.html
eleventyComputed:
  title: '{{ meta.blog.tagSingle }}: {{ tag }}'
---

<custom-masonry layout="50-50">
  {% set itemList = collections[tag] | reverse %}
  {% for item in itemList %}
    {% set definedDate = item.date %}
		{% include "partials/card-tag.njk" %}
  {% endfor %}
</custom-masonry>

<ul class="taglist | my-s-m cluster" role="list">
  {% for tag in collections.tagList %}
    <li>
      <a
        href="/topics/{{ tag }}"
        class="button"
        {{
          helpers.getLinkActiveState('/topics/' + tag,
          page.url)
          |
          safe
        }}
      >
        {{ tag }}
      </a>
    </li>
  {% endfor %}
</ul>
