<div style="text-align: center;">
    <blockquote class="pullquote">
    <p>🙏 A big thank you to our new sponsor, <a target="_blank" rel="noopener noreferrer nofollow" href="https://nexustek.com"><em>NexusTek</em></a>! 🙏</p>
</blockquote>
<figure>
    <a href="https://hubs.ly/Q030xj8W0" target="_blank" rel="noopener noreferrer"><img src="https://assets.buttondown.email/images/d4b3db0b-dfcb-447e-ad00-4990de90d41b.jpeg?w=240&amp;fit=max" alt="NexusTek for Zero Trust Network Access" draggable="false"></a>
    <figcaption><em>Thank you </em><a target="_blank" rel="noopener noreferrer nofollow" href="https://nexustek.com"><em>NexusTek</em></a><em> for sponsoring Fudge Factor!</em>
    </figcaption>
</figure>
</div>