<div style="text-align: center;">
<blockquote class="pullquote"><p>Thank you <a href="https://events.actualtechmedia.com/register-now/2516/are-you-stuck-in-the-ai-poc-spin-cycle/?utm_source=hot-fudge-daily&amp;utm_medium=email" target="_blank">NexusTek</a> for sponsoring!</p>
<figure><a href="https://events.actualtechmedia.com/register-now/2516/are-you-stuck-in-the-ai-poc-spin-cycle/?utm_source=hot-fudge-daily&amp;utm_medium=email" rel="noopener noreferrer" target="_blank"><button class="lightbox-button" aria-haspopup="dialog"><img draggable="false" src="https://assets.buttondown.email/images/5ba105f5-02d4-495b-b6b3-3e86f39af51c.png?w=960&amp;fit=max"></button><dialog class="lightbox">
                <form method="dialog">
                    <button type="submit">
                        <span aria-hidden="">×</span>
                        <span class="sr-only">Close dialog</span>
                    </button>
                    <img draggable="false" src="https://assets.buttondown.email/images/5ba105f5-02d4-495b-b6b3-3e86f39af51c.png?w=960&amp;fit=max"><span aria-hidden=""></span>
                </form>
            </dialog></a><figcaption>Thank you <a href="https://events.actualtechmedia.com/register-now/2516/are-you-stuck-in-the-ai-poc-spin-cycle/?utm_source=hot-fudge-daily&amp;utm_medium=email" rel="noopener noreferrer nofollow" target="_blank">NexusTek</a> for sponsoring!</figcaption></figure>
</blockquote>
</div>