<blockquote class="pullquote">
    <p>🙏 A big thank you to our new sponsor, <a href="https://nexustek.com?utm_campaign=Blog%20Promotion&utm_source=email&utm_medium=newsletter&utm_term=nexustek&utm_content=jaycuthrell"><em>NexusTek</em></a>! 🙏</p>
</blockquote>
<figure>
    <a href="https://www.nexustek.com/blog/the-executive-guide-to-hybrid-cloud-success?utm_campaign=Blog%20Promotion&utm_source=email&utm_medium=newsletter&utm_term=nexustek&utm_content=jaycuthrell">
    <img alt="The Executive Guide to Hybrid Cloud Success" draggable="false" src="https://assets.buttondown.email/images/2b10db88-aae1-4456-a19f-e4c674ea9594.jpeg?w=960&amp;fit=max"></a>
    <figcaption>
        Thank you <a href="https://nexustek.com?utm_campaign=Blog%20Promotion&utm_source=email&utm_medium=newsletter&utm_term=nexustek&utm_content=jaycuthrell" rel="noopener noreferrer nofollow" target="_blank">NexusTek</a> for sponsoring!
    </figcaption>
</figure>
