<blockquote class="pullquote">
    <p>🙏 A big thank you to our new sponsor, <a target="_blank" rel="noopener noreferrer nofollow" href="https://hubs.ly/Q030lvMd0"><em>NexusTek</em></a>! 🙏</p>
</blockquote>
<figure>
    <a href="https://hubs.ly/Q030lvMd0" target="_blank" rel="noopener noreferrer"><img src="https://assets.buttondown.email/images/f05702bb-5c94-456b-a33b-fb316cba46d6.jpeg?w=960&amp;fit=max" alt="NexusTek White Paper: Cloud Success for Small and Medium-Sized Businesses " draggable="false"></a>
    <figcaption>
        <em>Thank you </em><a target="_blank" rel="noopener noreferrer nofollow" href="https://hubs.ly/Q030lvMd0"><em>NexusTek</em></a><em> for sponsoring Hot Fudge Sunday!</em>
    </figcaption>
</figure>