<div style="text-align: center;">
<blockquote class="pullquote"><p>🙏 A big thank you to our new sponsor, <a target="_blank" rel="noopener noreferrer nofollow" href="https://events.actualtechmedia.com/register-now/2279/agentic-ai-is-not-the-future-its-now/"><em>NexusTek</em></a>! 🙏</p></blockquote>
<figure><a href="https://events.actualtechmedia.com/register-now/2279/agentic-ai-is-not-the-future-its-now/" target="_blank" rel="noopener noreferrer"><img src="https://assets.buttondown.email/images/a09814cd-e87f-4859-8f29-7b91fc49c376.png?w=960&amp;fit=max" alt="Agentic AI Is Not the Future — It's Now" draggable="false"></a><figcaption>Thank you <a target="_blank" rel="noopener noreferrer nofollow" href="https://events.actualtechmedia.com/register-now/2279/agentic-ai-is-not-the-future-its-now/">NexusTek</a> for sponsoring!</figcaption></figure>
</div>