<div style="text-align: center;">
<blockquote class="pullquote">

<blockquote class="pullquote"><p>🙏 Big thanks to our sponsor, <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.nexustek.com/contact-us?utm_source=hot-fudge-daily&utm_medium=web" aria-label="NexusTek"><em>NexusTek</em></a>! 🙏</p></blockquote>

<center><figure><a href="https://www.nexustek.com/contact-us?utm_source=hot-fudge-daily&utm_medium=web" target="_blank" rel="noopener noreferrer" aria-label="NexusTek"><img src="https://info.nexustek.com/hubfs/codetwo/logo-230x48.jpg" alt="NexusTek logo"></a><figcaption>Thank you <a target="_blank" rel="noopener noreferrer nofollow" href="https://www.nexustek.com/contact-us?utm_source=hot-fudge-daily&utm_medium=web">NexusTek</a> for sponsoring!</figcaption></figure></center>

</blockquote>
</div>
